.box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;

}

.flex_box {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background: #FFF3ED;
    border-radius: 16px;
    max-width: 540px;
    width: 100%;

}

.flex_box:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px solid #000000;
}

.left_box {
    background-color: #F3F4FF;
}

.box_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.box_image img {
    filter: drop-shadow(0px -12px 32px rgba(156, 155, 157, 0.16));
}

.box_heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
}

.box_off {
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.1px;
    color: #4E60FF;

}

.off_color {
    color: #FD6D22;
}

.box_name {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #83859C;
}