.input {
    width: 350px;
    height: 44px;
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 10px;
}

.input:hover {
    border: #4E60FF 1px solid;
}

::placeholder {
    font-size: 14px;
    color: #83859C;
    margin-left: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
}