.heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    margin-bottom: 16px;
}

.settings_list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
}

.account_btn{
    width: 350px;
    height: 72px;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.account_btn:focus {
    background: #F3F4FF;
    border: 2px solid #4E60FF;
}

.account_btn:hover {
    border: 2px solid #4E60FF;
}

.settings_icon {
    width: 40px;
    height: 40px;
    background: #EDEEF2;
    border-radius: 12px;
    margin-left: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.settings_icon span {
    color: #83859C;
}

.settings_list_content {
    display: flex;
    flex-direction: column;
}

.settings_list_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #2B2B43;
}

.settings_list_description {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #545563;
}