.btn {

    height: 44px;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border: 1px solid #4E60FF;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #4E60FF;
}

.blue {
    background-color: #4E60FF;
}

.pink {
    color: #FF5C60;;
}

.big {
    width: 350px;
}


.small {
    max-width: 330px;
}

.border_blue {
    border: 1px solid #4E60FF;
    border-radius: 8px;
    color: #4E60FF;
}

.border_blue:hover {
    background-color: #4E60FF;
    color: #fff;
}


.border_pink {
    color: #FF5C60;
    border: 1px solid #FF5C60;
    border-radius: 8px;
}

.border_pink {
    background-color: #FF5C60;
    color: #fff;
}

.border_none {
    color: #83859C;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
}

.border_none:hover {
    color: #FF5C60;
}

.border_grey {
    color: #83859C;
    border: 1px solid #83859C;
    border-radius: 8px;
}

.border_grey:hover {
    background-color: #83859C;
    color: #fff;
}