.cards_container {
    padding-bottom: 100px;
}

.cards_container_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    padding: 40px 0 16px 0;
}

.cards_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
    gap: 30px;
    list-style-type: none;
    margin-top: 16px;
}

.cards_container .cards_list li{
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    width: 100%;
    max-width: 350px;
    min-height: 276px;
}

/* .cards_container .cards_list li:hover {
    box-shadow: 0 0 10px #ccc;
    opacity: 90%;
} */


