.search_container input {
    width: 100%;
    width: 224px;
    min-height: 40px;
    background: #EDEEF2;
    border-radius: 12px;
    border: 1px solid #EDEEF2;
    padding-left: 10px;
}

.search_container input:hover {
    border: 1px solid #4E60FF;
}

.search_container input ::placeholder {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #83859C;
}

.search_container .search_icon {
    color: #83859C;
    margin-left: -30px;
    cursor: text;
}