.item_title {
    font-size: 24px;
    color: #2d2f31;
    display: flex;
    gap: 20px
}

.item_img img {
    width: 148px;
    height: 83px;
    margin-top: 20px;
}

.minus_btn, .plus_btn {
    font-size: 24px;
}

.minus_btn:hover,
.plus_btn:hover {
    color: rgb(61, 76, 76);
}

.buttons {
    display: flex;
    gap: 20px;
}

.price {
    font-size: 20px;
}

.total_price {
    color: green;
}
