.left_col_container {
    display: grid;
    grid-template-rows: 148px 712px;
    justify-content: center;
}

.logo {
    margin-top: 20px;
}

.form_container {
    display: grid;
    grid-template-rows: repeat(10, 85px);
    grid-template-columns: subgrid;
}

.form_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 0.1px;
    color: #2B2B43;
}

.logged_in {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #2B2B43;
}

.login_par,
.logged_in {
    width: 350px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #545563;
}


.checkbox {
    width: 20px;
    height: 20px;
}

.flex_input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input_style {
    width: 350px;
    height: 44px;
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 10px;
}

.input_style:hover {
    border: #4E60FF 1px solid;
}

::placeholder {
    font-size: 14px;
    color: #83859C;
    margin-left: 10px;
}

.email,
.password {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545563;
}

.login_btn input {
    width: 350px;
    height: 44px;
    background-color: #4E60FF;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border: 1px solid #4E60FF;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.form_container .login_btn input:hover {
    background-color: #fff;
    color: #4E60FF;
}

.form_container .forgot_psw button{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #4E60FF;
}

.form_container .forgot_psw button:hover {
    text-decoration: underline;
}

.form_container .forgot_psw {
    display: flex;
    justify-content: center;
    width: 350px;
}

.form_container .signup {
    display: flex;
    justify-content: center;
    align-self: end;
}

.form_container .signup span {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #545563;
}

.form_container .signup button {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    padding-left: 5px;
    color: #4E60FF;
}

.form_container .signup button:hover {
    text-decoration: underline;
}


.error_message {
    margin-top: 20px;
    color: rgb(210, 61, 61);
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}