
.basket_container {
    width: 500px;
    height: auto;
    position: fixed;
    top: 14vh;
    right: 200px;
    background-color: rgb(208, 217, 240);
    z-index: 3;
    padding: 15px;
    border: transparent ;
    border-radius: 20px;
}

.cart_container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 24px;
    color: #38383d;
    text-decoration: underline;
}

.close_btn {
    font-size: 24px;
}

.close_btn:hover {
    color: rgb(61, 76, 76);
}

