.category_item_img {
    width: 24px;
}

.flex_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 80px;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
}

.categroy_btn {
    height: 80px;
    width: 100%;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #545563;
    border: none;
    background: none;
    cursor: pointer;
}

.categroy_btn:hover {
    border: 2px solid #697BFF;
    border-radius: 16px;
}

.categroy_btn:focus {
    border: 2px solid #697BFF;
    border-radius: 16px;
}

.category_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
}