.header {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 12vh;
}

.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.horizontal_line {
    width: 100%;
    opacity: 30%;
    border: 1px solid #C4C4C4;
    display:inline-block;
}

.search_container input {
    width: 100%;
    width: 224px;
    min-height: 40px;
    background: #EDEEF2;
    border-radius: 12px;
    border: 1px solid #EDEEF2;
    padding-left: 10px;
}

.search_container input:hover {
    border: 1px solid #4E60FF;
}

.search_container input ::placeholder {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #83859C;
}

.search_container .search_icon {
    color: #83859C;
    margin-left: -30px;
    cursor: text;
}

.primary_nav a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #2B2B43;
}

.primary_nav a:hover {
    text-decoration: underline;
    color: #4E60FF;
}

.secondary_nav {
    gap: 17px;
}

.secondary_nav .shopping_bag_icon {
    width: 48px;
    height: 48px;
    background: #F3F4FF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(78, 96, 255, 1);
    cursor: pointer;
}

.secondary_nav .pending_number {
    width: 20px;
    height: 20px;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    background: #4E60FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 -15px 26px;
    position: relative;
    z-index: 2;
}

.secondary_nav img {
    width: 48px;
    height: 48px;
    border-radius: 16px;
}

.toggle_menu_btn {
    display: none;
}

.login_header {
    padding-top: 20px;
}

.account_link {
    border: 2px solid #4E60FF;
}
