.cards_container .card_image {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
}

.card_image img {
    height: auto;
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100%;
}

.card_image {
    display: flex;
}

.featured_container {
    position: absolute;
}

.featured_container .featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    position: absolute;
    width: 94px;
    height: 32px;
    color: #fff;

    /* background: #4E60FF; */
    border-radius: 0px 16px;

    font-weight: 700;
    font-size: 11px;
    display: flex;
    align-items: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.card_content .restaurant_name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2B2B43;
}

.restaurant_name:hover {
    color: #4E60FF;
    text-decoration: underline;
    cursor: pointer;
}

.card_content .shopping_bag_icon {
    color: #C7C8D2;
    width: 25px;
}

.shopping_bag_icon:hover {
    color: #4E60FF;
}

.card_content {
    display: flex;
    justify-content: space-between;
}

.card_content_all {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 16px;
}

.delivery_info {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #83859C;
}

.food_type {
    width: 70px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    background: #EDEEF2;
    border-radius: 100px;
    margin: 0 0 16px 16px;
}

.food_type_title {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545563;
}

.food_type_img {
    width: 12px;
    height: 12px;
}

.food_type_container {
    display: flex;
    gap: 6px;

}

.card_content .pending_number {
    width: 16px;
    height: 16px;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    margin: 0 0 -12px 9px;
    position: relative;
    z-index: 2;

    background: #4E60FF;
    border: 1.5px solid #FFFFFF;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card_content .blue_icon {
    color: #4E60FF;
    opacity: 90%;
}

footer {
    height: 10vh;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
