.settings_main_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
}

.heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    margin-bottom: 16px;
}

.settings_list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
}