* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body, html {
    font-family: 'Nunito', sans-serif;
}

a.active {
    color: rgb(80, 80, 203);
}

h1 {
    text-align: center;
}