.heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    margin-bottom: 16px;
}

.account_form_container {
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    padding: 12px;
}

.form_heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    padding-bottom: 16px;
}

.account_photo_container {
    padding-bottom: 16px;
}

.account_photo_container label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545563;
}

.account_photo_settings {
    display: flex;
    gap: 20px;
    align-items: center;
}

.account_photo_settings input[type="file"] {
    display: none;
}

.account_photo_settings .photo_btn {
    width: 88px;
    border-radius: 12px;
}

.account_photo_settings .photo_btn:hover {
    border: 2px solid #4E60FF;
}

.general_btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    padding: 12px 16px;
    background-color: #fff;
    cursor: pointer;
}

.account_photo_settings .change_btn {
    border: 1px solid #4E60FF;
    border-radius: 8px;
    color: #4E60FF;
}

.account_photo_settings .change_btn:hover {
    background-color: #4E60FF;
    color: #fff;
}

.account_photo_settings .remove_btn {
    color: #83859C;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
}

.account_photo_settings .remove_btn:hover {
    color: #FF5C60;
}

.input_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 16px;
    padding-bottom: 48px;
}

.input_container div {
    display: flex;
    flex-direction: column;
}

.input_container label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #545563;
    padding-bottom: 4px;
}

.input_container input {
    max-width: 330px;
    height: 44px;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
    padding-left: 10px;
}

.input_container input ::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2B2B43;
}

.checkbox_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 24px;
    padding-bottom: 56px;
}

.buttons_container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.buttons_container .changes_btn {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.buttons_container .logout_btn {
    color: #FF5C60;
    border: 1px solid #FF5C60;
    border-radius: 8px;
}

.buttons_container .logout_btn:hover {
    background-color: #FF5C60;
    color: #fff;
}

.buttons_container .discard_btn {
    color: #83859C;
    border: 1px solid #83859C;
    border-radius: 8px;
}

.buttons_container .discard_btn:hover {
    background-color: #83859C;
    color: #fff;
}

.buttons_container .save_btn {
    color: #FFFFFF;
    background: #4E60FF;
    border-radius: 8px;
    border: #4E60FF solid 1px;
}

.buttons_container .save_btn:hover {
    background-color: #fff;
    color: #4E60FF;
}
