.right_col_container {
    background-color: #697BFF;
}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(22, 30px);
    grid-template-rows: repeat(20, 30px);
}

.reviews_img {
    grid-column: 2 / 12;
}

.squared_img {
    grid-column: 12;
    grid-row: 3;
}

.horizontal_img {
    grid-column: 1 / 12;
    grid-row: 13;
}

.reviews_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 150px;
    text-align: center;
}

.right_col_container .reviews_heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #fff;
}

.reviews_container .reviews_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.reviews_container .dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.3;
    background: #FFFFFF;
    cursor: pointer;
    margin-right: 7px;
  }

.reviews_container .checked_dot {
    opacity: 100%;
}

.reviews_container .dot:hover {
    opacity: 60%;
}