.error_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 200px auto;
    width: 100%;
    color:#5f6065;;
}

.error_heading {
    font-size: 52px;
}

.error_p {
    font-size: 32px;
    line-height: 30px;
}